@font-face {
  font-family: 'wdiconfont';
  src: url('./fonts/wdiconfont.woff') format('woff'), /* chrome, firefox */
    url('./fonts/wdiconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}

[class^="wd-icon-"],
[class*=" wd-icon-"] {
  font-family: 'wdiconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wd-icon-zero::before {
  content: '\e900';
}
.wd-icon-one::before {
  content: '\e901';
}
.wd-icon-two::before {
  content: '\e902';
}
.wd-icon-three::before {
  content: '\e903';
}
.wd-icon-four::before {
  content: '\e904';
}
.wd-icon-five::before {
  content: '\e905';
}
.wd-icon-six::before {
  content: '\e906';
}
.wd-icon-seven::before {
  content: '\e907';
}
.wd-icon-eight::before {
  content: '\e908';
}
.wd-icon-nine::before {
  content: '\e909';
}
.wd-icon-verify::before {
  content: '\e90a';
}
.wd-icon-nav::before {
  content: '\e90b';
}
.wd-icon-search::before {
  content: '\e90c';
}
.wd-icon-cart-simple::before {
  content: '\e90d';
}
.wd-icon-message::before {
  content: '\e90e';
}
.wd-icon-like-off::before {
  content: '\e90f';
}
.wd-icon-like-on::before {
  content: '\e910';
}
.wd-icon-check::before {
  content: '\e911';
}
.wd-icon-cart-off::before {
  content: '\e912';
}
.wd-icon-cart-on::before {
  content: '\e913';
}
.wd-icon-menu::before {
  content: '\e914';
}
.wd-icon-shop::before {
  content: '\e915';
}
.wd-icon-star::before {
  content: '\e916';
}
