@font-face {
  font-family: 'wdiconfont';
  src: url('./fonts/wdiconfont.woff') format('woff'), /* chrome, firefox */
    url('./fonts/wdiconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}

[class^="wd-icon-"],
[class*=" wd-icon-"] {
  font-family: 'wdiconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wd-icon-zero::before {
  content: '\e900';
}
.wd-icon-one::before {
  content: '\e901';
}
.wd-icon-two::before {
  content: '\e902';
}
.wd-icon-three::before {
  content: '\e903';
}
.wd-icon-four::before {
  content: '\e904';
}
.wd-icon-five::before {
  content: '\e905';
}
.wd-icon-six::before {
  content: '\e906';
}
.wd-icon-seven::before {
  content: '\e907';
}
.wd-icon-eight::before {
  content: '\e908';
}
.wd-icon-nine::before {
  content: '\e909';
}
.wd-icon-verify::before {
  content: '\e90a';
}
.wd-icon-nav::before {
  content: '\e90b';
}
.wd-icon-search::before {
  content: '\e90c';
}
.wd-icon-cart-simple::before {
  content: '\e90d';
}
.wd-icon-message::before {
  content: '\e90e';
}
.wd-icon-like-off::before {
  content: '\e90f';
}
.wd-icon-like-on::before {
  content: '\e910';
}
.wd-icon-check::before {
  content: '\e911';
}
.wd-icon-cart-off::before {
  content: '\e912';
}
.wd-icon-cart-on::before {
  content: '\e913';
}
.wd-icon-menu::before {
  content: '\e914';
}
.wd-icon-shop::before {
  content: '\e915';
}
.wd-icon-star::before {
  content: '\e916';
}
.wd-icon-qq::before {
  content: '\e917';
}
.wd-icon-weixin::before {
  content: '\e918';
}
.wd-icon-money::before {
  content: '\e919';
}
.wd-icon-prom-share::before {
  content: '\e91a';
}
.wd-icon-prom-fans::before {
  content: '\e91b';
}
.wd-icon-prom-goods::before {
  content: '\e91c';
}
.wd-icon-prom-headline::before {
  content: '\e91d';
}
.wd-icon-consult::before {
  content: '\e91e';
}
.wd-icon-prom-wxapp::before {
  content: '\e91f';
}
.wd-icon-account::before {
  content: '\e920';
}
.wd-icon-prom-helper::before {
  content: '\e921';
}
.wd-icon-prom-data::before {
  content: '\e922';
}
.wd-icon-prom-activity::before {
  content: '\e923';
}
.wd-icon-up::before {
  content: '\e924';
}
.wd-icon-down::before {
  content: '\e925';
}
.wd-icon-left::before {
  content: '\e926';
}
.wd-icon-right::before {
  content: '\e927';
}
.wd-icon-up2::before {
  content: '\e928';
}
.wd-icon-down2::before {
  content: '\e929';
}
.wd-icon-left2::before {
  content: '\e92a';
}
.wd-icon-right2::before {
  content: '\e92b';
}
.wd-icon-account2::before {
  content: '\e92c';
}
.wd-icon-image::before {
  content: '\e92d';
}
.wd-icon-trash::before {
  content: '\e92e';
}
.wd-icon-lock::before {
  content: '\e92f';
}

